<!-- Gitalk 评论框 -->
<div id="gitalk-container"></div>

<link rel="stylesheet" href="/gitalk/gitalk.css">

<script src="/gitalk/gitalk.min.js"></script>

<script type="text/javascript">
    var gitalk = new Gitalk({
            clientID: '<%= theme.comment.gitalk_client_id %>',
            clientSecret: '<%= theme.comment.gitalk_client_secret %>',
            repo: '<%= theme.comment.gitalk_repo %>',
            owner: '<%= theme.comment.gitalk_owner %>',
            admin: ['<%= theme.comment.gitalk_admin %>'],
            // facebook-like distraction free mode
            distractionFreeMode: false,
            //id: path.url,
            //labels: '<%= theme.comment.gitalk_labels %>'
        })
   gitalk.render('gitalk-container')
</script>